<ul>
   <% blogs.forEach(function(blog) { %>
      <li>
         <h2>
            <%= blog.title %>
         </h2>
         <p>
            <%= blog.description %>
         </p>
      </li>
      <% }); %>
</ul>